
<div id="navTransactions">
    <h1>NAME/BUSINESS</h1>
    <h1>TYPE</h1>
    <h1>AMOUNT</h1>
    <h1>DATE</h1>
    <h1>STATUS</h1>
    <h1>ACTION</h1>
</div>

<div class="listTile-trans">
    <div class="nameBusiness">
        <div class="item-image"></div>
        <span>Iphone 13 Pro MAX</span>
    </div>
</div>
<div class="listTile-trans">
    <div class="nameBusiness">
        <div class="item-image"></div>
        <span>Iphone 13 Pro MAX</span>
    </div>
</div>
<div class="listTile-trans">
    <div class="nameBusiness">
        <div class="item-image"></div>
        <span>Iphone 13 Pro MAX</span>
    </div>
</div>