<div id="content-item-transactions">
    <div class="name-item">
        <div class="item-image"></div>
        <div class="content-name">
            <span id="name-item">Iphone 13 Pro MAX</span>
            <span id="name-enterprise">Apple Inc.</span> 
        </div>
    </div>
    <div class="type-item">
        <span id="type">Eletronicos</span>
    </div>
    <div class="amount-item">
        <span id="amount">R$450,00</span>
    </div>
    <div class="date-item">
        <span id="date">14 Apr 2022</span>
        <span id="hour">at 8:00PM</span>
    </div>
    <div class="action-item">
        <button id="view-btn">View</button>
    </div>
    <div class="status-item">
        <span id="status">Pending</span>
    </div>
</div>
