<div id="navbar-content">
    <h1 class="title-navbar">{{ title }}</h1>
    <div class="menu-navbar">
        <span class="material-symbols-outlined">search</span>
        <span class="material-symbols-outlined">notifications</span>
        <div class="perfil-content">
            <div>
                <img src="../../static/assets/avatarExample.png" alt="">
                <span>Fulano de Tal</span>
            </div>
            <span class="material-symbols-outlined">keyboard_arrow_down</span>
        </div>
    </div>
</div>