<aside class="sidebar">
    <h2 id="title-sidebar">Finapp</h2>
    <div class="menu-content-sidebar">
        <ul class="nav-sidebar">
            <li class="item-sidebar" id="dashboard">
                <span class="material-symbols-outlined">dashboard</span>
                <span>Dashboard</span>
            </li>
            <li class="item-sidebar" id="transactions">
                <span class="material-symbols-outlined">contract</span>
                <span>Transactions</span>
            </li>
            <li class="item-sidebar" id="settings">
                <span class="material-symbols-outlined settings-icon">settings</span>
                <span>Settings</span>
            </li>
        </ul>
        <ul class="logout-sidebar-content item-sidebar" id="login">
            <span class="material-symbols-outlined">logout</span>
            <span>Logout</span>
        </ul>
    </div>
</aside>