#navTransactions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid var(--gray-3);
}

#navTransactions h1 {
    font-size: 12px;
    color: var(--text-2);
}



.listTile-trans {
    padding-block: 30px;
    border-bottom: 1px solid var(--gray-3);
    width: 100%;
    display: flex;
}

.nameBusiness {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nameBusiness span {
    font-size: 14px;
}

.item-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--dark-1);
}