@import url("../css/sidebar.css");
@import url("../css/register.css");

@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Niramit", serif;      
}

:root {
    --yellow: #C8EE44;
    --green: #29A073;
    --text-1:#FFFFFF;
    --text-2:#929EAE;
    --text-3: #78778B;
    --dark-1: #201E34;
    --dark-2: #282541;
    --dark-bg: #1C1A2E;
    --dark-shade: #1E1C30;
    --key-black: #363A3F;
    --error: #E5363D;
    --success: #19D076;
    --gray-1: #FAFAFA;
    --gray-2: #F8F8F8;
    --gray-3: #F5F5F5;
    --gray-4: #FDFDFD;
    --gray-5: #F2F2F2;
}

