<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="../static/js/script.js" defer></script>
    <link rel="stylesheet" href="">
    <title>Finapp</title>
</head>
<body>
    {% include 'components/sidebar.html' %}

    <div class="main-content">
        {% include 'components/navbar.html' %}

        <div class="content">
            {% include './' + title + '.html' %}
        </div>
    </div>
</body>
</html>