<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Finapp - Register</title>
</head>
<body>
    <div class="account-container">
        <div class="field-form">

            <div class="container-form">
                <h1>Finapp</h1>
                <h1 class="title-account">Create new account</h1>
                <h5>Welcome back! Please enter your details</h5>
                <form action="">
                    <label for="">Name</label>
                    <input type="text">
                    <label for="">Email</label>
                    <input type="email">
                    <label for="">Password</label>
                    <input type="password">
                    <button type="submit">Create Account</button>
                </form>
                <p class="sign-in">Already have an account?<span> Sign in</span></p>
            </div>

        </div>
        <div class="field-image">
            <img src="../static/assets/registerImage.png" alt="">
        </div>
    </div>
</body>
</html>